page {
    background-color: #f7f8fa;
}

view.all {
    width: 95%;
    margin: 0px auto;
    padding-bottom: 170rpx;
    .orderCard {
        margin-top: 12rpx;
        background-color: #fff;
        padding: 40rpx 0rpx;
    }

    .location {
        .title {
            margin-bottom: 20rpx;
        }
    }

    .previewImage {
        .preview {
            margin-top: 40rpx;
            image {
                width: 100%;
            }
        }
    }
}

view.bottom {
    width: 100%;
    position: fixed;
    bottom: 0px;
    display: flex;
    background-color: white;
    padding: 15px 20px 30px 20px;
    align-items: center;
    justify-content: space-between;

    view.confirmButton {
        width: 50%;
        text-align: center;
        padding-right: 10rpx;

        .payButton {
            width: 70%;
            background: #369472;
            border-radius: 15rpx;
            font-family: PingFangSC-Semibold;
            font-size: 14px;
            color: #fafcfc;
        }
    }

    .timePickerToolBar {
        color: #369472;
    }
}

view.reservationModal {
    padding: 0rpx 30rpx 40rpx 30rpx;
    .underlineCardBold {
        box-shadow: none;
        padding-top: 0rpx;
        padding-bottom: 0rpx;
    }
    .dateTimeConfirm {
        padding: 30rpx 0px 0px 0px;
        width: 40%;
        margin: 0px auto;
    }

    .dateTimeConfirmButton {
        border-radius: 10px;
        background: #369472;
        font-family: PingFangSC-Semibold;
        font-size: 14px;
        color: #ffffff;
        margin-top: 20rpx;
    }
}

.calendar {
    z-index: -10;
    button {
        font-family: PingFangSC-Regular;
    }
}
