page {
    background-color: #f7f8fa;
}

.dropdown {
    margin-bottom: 20rpx;

    .dropdownItem {
        font-family: PingFangSC-Regular;
        font-size: 14px;
    }
}

view.all {
    margin: 0px auto;
    padding-bottom: 100rpx;
    width: 95%;
    view.line {
        margin-top: 21rpx;
        margin-bottom: 21rpx;
        margin: 0px auto;
        width: 90%;
        height: 1rpx;
        background-color: #e4e5e563;
    }
    .orderCard {
        background-color: white;
        padding: 20rpx;
        margin-left: -15rpx;
        margin-top: 10rpx;
        opacity: 0.95;
        transform: scale(0.9);
        .thumb {
            opacity: 0.8;
        }
    }
}
